body{
    background: white url("images/background.jpg")
}

/* navbar */
.navbar{
    border-radius: 25px;
}

/* In navbar Album & Song label */
.navbar-nav{
    font-family: 'Satisfy', 'Kavivanar', cursive;
}

.navbar-brand{
    font-family: 'Satisfy', 'Kavivanar', cursive;
}