{% extends 'music/base.html' %}

{% block body %}

    <img src="{{ album.album_logo }}">

    <h1>{{ album.album_title }}</h1>

    <h2>{{ album.artist }}</h2>

    {% if error_msg %}
    <p><strong>{{ error_msg }}</strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id %}" method="post">
        <!-- When the user validate the form, the album id is passed to the action section and
             goto music/urls.py and looks for the pattern music/album_id/favorite -->
        {% csrf_token %}
        {% for song in album.song_set.all %}
        <!-- Loop through all song in DB -->
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
            <!-- for each song there is an id generated and this id is associated with the song id in the DB -->
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}

                {% if song.is_favorite %}
                    <img src="http://iconshow.me/media/images/xmas/christmas-icon5/2/star-16.png" />
                {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form>
{% endblock %}
